Thumbs.db
license.txt
App.config
GenerateMenu.cs
ReportTest.cs
desktop.ini
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
doc/
assets/
blog/
OpenRetail.T4Generator/
TestPrint/
obj/
lib/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
deploy/