<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- konfigurasi custom section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="colorManager" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <log4net>
    <appender name="Log4NetAppender" type="OpenRetail.Repository.Service.Log4NetAppender, OpenRetail.Repository.Service" />
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="Log4NetAppender"/>
    </root>
  </log4net>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql"/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="server" value="localhost"/>
    <add key="port" value="5432"/>

    <!-- nama database -->
    <add key="dbName" value="DbOpenRetail"/>

    <!-- pengaturan printer -->
    <add key="printerName" value=""/>
    <add key="isAutoPrinter" value="false"/>
    <add key="jenis_printer" value="1"/>

    <!-- pengaturan printer mini pos-->
    <add key="isCetakCustomer" value="false"/>
    <add key="jumlahKarakter" value="40"/>
    <add key="jumlahGulung" value="3"/>    
  </appSettings>

  <colorManager>
    <add key="formBackColor" value="255, 255, 255" />
    <add key="panelHeaderBackColor" value="31, 86, 125" />
    <add key="panelFooterBackColor" value="31, 86, 125" />
    <add key="labelHeaderForeColor" value="255, 255, 255" />
    <add key="textFocusColor" value="255, 255, 192" />
  </colorManager>
</configuration>