<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrashReporter.NET.Official" version="1.5.2" targetFramework="net40" />
  <package id="Dapper" version="1.50.2" targetFramework="net40" />
  <package id="Dapper.Contrib" version="1.50.0" targetFramework="net40" />
  <package id="DockPanelSuite" version="3.0.1" targetFramework="net40" />
  <package id="GodSharp.SerialPort" version="1.1.2" targetFramework="net40" />
  <package id="log4net" version="2.0.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="Npgsql" version="2.2.7" targetFramework="net40" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" />
</packages>