<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql"/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="server" value="localhost"/>
    <add key="port" value="5432"/>

    <!-- database development -->
    <add key="dbName" value="DbOpenRetail"/>
  </appSettings>
</configuration>