<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- konfigurasi log4net -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="Log4NetAppender" type="OpenRetail.Repository.Service.Log4NetAppender, OpenRetail.Repository.Service" />
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Log4NetAppender" />
    </root>
  </log4net>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="server" value="localhost" />
    <add key="port" value="5432" />

    <!-- database development -->
    <add key="dbName" value="DbOpenRetail" />
  </appSettings>
</configuration>