<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- konfigurasi custom section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="colorManager" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <log4net>
    <appender name="Log4NetAppender" type="OpenRetail.Repository.Service.Log4NetAppender, OpenRetail.Repository.Service" />
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Log4NetAppender" />
    </root>
  </log4net>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  
  <appSettings>
    <add key="server" value="localhost" />
    <add key="port" value="5432" />
    <!-- nama database -->
    <add key="dbName" value="DbOpenRetail" />
    
    <!-- setting barcode -->
    <add key="printerBarcode" value="" />
    <add key="headerLabel" value="" />
    <add key="batasAtasBaris1" value="43" />
    <add key="batasAtasBaris2" value="187" />
    <add key="batasAtasBaris3" value="344" />
    <add key="batasAtasBaris4" value="496" />
    <add key="batasKiriKolom1" value="11" />
    <add key="batasKiriKolom2" value="277" />
    <add key="batasKiriKolom3" value="540" />

    <!-- setting label harga -->
    <add key="printerLabelHarga" value="" />
    <add key="fontName" value="Courier New" />
    <add key="batasAtasBaris1LabelHarga" value="43" />
    <add key="batasAtasBaris2LabelHarga" value="187" />
    <add key="batasAtasBaris3LabelHarga" value="344" />
    <add key="batasAtasBaris4LabelHarga" value="496" />
    <add key="batasAtasBaris5LabelHarga" value="650" />
    <add key="batasAtasBaris6LabelHarga" value="805" />
    <add key="batasAtasBaris7LabelHarga" value="960" />
    <add key="batasAtasBaris8LabelHarga" value="1115" />

    <add key="batasKiriKolom1LabelHarga" value="30" />
    <add key="batasKiriKolom2LabelHarga" value="225" />
    <add key="batasKiriKolom3LabelHarga" value="425" />
    <add key="batasKiriKolom4LabelHarga" value="625" />
    
    <!-- pengaturan printer -->
    <add key="printerName" value="" />
    <add key="isAutoPrinter" value="false" />
    <add key="isAutoPrinterLabelNota" value="false" />
    <add key="jenis_printer" value="1" />
    
    <!-- pengaturan printer mini pos-->
    <add key="isCetakCustomer" value="false" />
    <add key="jumlahKarakter" value="40" />
    <add key="jumlahGulung" value="3" />
    <add key="ukuranFont" value="0" />
    <add key="isAutocut" value="false" />
    <add key="autocutCode" value="27,112,0,75,250" />
    <add key="isOpenCashDrawer" value="false" />
    <add key="openCashDrawerCode" value="27,112,0,25,250" />
    
    <!-- pengaturan customer display -->
    <add key="portNumber" value="COM1" />
    <add key="baudRate" value="9600" />
    <add key="parity" value="1" />
    <add key="dataBits" value="8" />
    <add key="stopBits" value="1" />
    <add key="isActiveCustomerDisplay" value="false" />
    <add key="customerDisplayOpeningSentenceLine1" value="Selamat datang di" />
    <add key="customerDisplayOpeningSentenceLine2" value="KR Software" />
    <add key="customerDisplayClosingSentenceLine1" value="Terima Kasih" />
    <add key="customerDisplayClosingSentenceLine2" value="Selamat dtg kembali" />
    <add key="customerDisplayDelayDisplayClosingSentence" value="5" />
    
    <!-- pengaturan pageSize (jumlah record per halaman) -->
    <add key="pageSize" value="200" />
    
    <!-- pengaturan lainnya -->
    <add key="isShowMinimalStok" value="true" />
    <add key="isCustomerRequired" value="true" />
    <add key="isCetakKeteranganNota" value="true" />
    <add key="isSingkatPenulisanOngkir" value="false" />
    <add key="defaultPPN" value="0" />
  </appSettings>
  
  <colorManager>
    <add key="formBackColor" value="255, 255, 255" />
    <add key="panelHeaderBackColor" value="31, 86, 125" />
    <add key="panelFooterBackColor" value="31, 86, 125" />
    <add key="labelHeaderForeColor" value="255, 255, 255" />
    <add key="textFocusColor" value="255, 255, 192" />
  </colorManager>  
</configuration>